<html>
	<body>
		<book class="book">
			<page class="page page--generic page--rules">
				<header class="page__header">
					<h1>
						<span>Quick</span>
						<span><img src="../images/icons/dice-twenty-faces-twenty.svg"/></span>
						<span>Quest</span>
					</h1>
					<ul class="links">
						<li>patreon.com/giffyglyph</li>
					</ul>
					<p class="description">{{msg:rules.title}}</p>
				</header>
				<section class="page__body">
					<section class="column column--character">
						<div class="column__icon">
							<img src="../images/icons/barbute.svg"/>
						</div>
						<h2 class="column__title">{{msg:rules.character.title}}</h2>
						<ol class="counters counters-sm">
							<li>{{msg:rules.character.list.1}}</li>
							<li>
								<p>{{msg:rules.character.list.2}}</p>
								<div class="panel archetypes">
									<ul>
										<li>
											<div class="icon">
												<img src="../images/icons/muscle-up.svg"/>
											</div>
											<div>{{msg:common.strength}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/bullseye.svg"/>
											</div>
											<div>{{msg:common.dexterity}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/heart-beats.svg"/>
											</div>
											<div>{{msg:common.constitution}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/brain.svg"/>
											</div>
											<div>{{msg:common.intelligence}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/light-bulb.svg"/>
											</div>
											<div>{{msg:common.wisdom}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/drama-masks.svg"/>
											</div>
											<div>{{msg:common.charisma}}</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<p>{{msg:rules.character.list.3}}</p>
								<div class="panel archetypes">
									<ul>
										<li>
											<div class="icon fighter">
												<img src="../images/icons/sharp-axe.svg"/>
											</div>
											<div>{{msg:common.fighter}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/lockpicks.svg"/>
											</div>
											<div>{{msg:common.rogue}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/treasure-map.svg"/>
											</div>
											<div>{{msg:common.explorer}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/book-cover.svg"/>
											</div>
											<div>{{msg:common.sage}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/paint-brush.svg"/>
											</div>
											<div>{{msg:common.artist}}</div>
										</li>
										<li>
											<div class="icon">
												<img src="../images/icons/conversation.svg"/>
											</div>
											<div>{{msg:common.diplomat}}</div>
										</li>
									</ul>
								</div>
							</li>
							<li>{{msg:rules.character.list.4}}</li>
							<li>{{msg:rules.character.list.5}}</li>
							<li>{{msg:rules.character.list.6}}</li>
						</ol>
					</section>
					<section class="column column--how-to-play">
						<div class="column__icon">
							<img src="../images/icons/retro-controller.svg"/>
						</div>
						<h2 class="column__title">{{msg:rules.play.title}}</h2>
						<ol class="counters counters-sm counters-letter">
							<li>{{msg:rules.play.list.1}}</li>
							<li>
								<p>{{msg:rules.play.list.2}}</p>
								<div class="panel success-check">
									<div class="icon">
										<img src="../images/icons/dice-twenty-faces-twenty.svg"/>
									</div>
									<div>
										<span>{{msg:rules.play.list.2.box.1}}</span>
										<span>{{msg:rules.play.list.2.box.2}}</span>
										<span>{{msg:rules.play.list.2.box.3}}</span>
									</div>
								</div>
							</li>
							<li>{{msg:rules.play.list.3}}</li>
							<li>{{msg:rules.play.list.4}}</li>
							<li>
								<p>{{msg:rules.play.list.5}}</p>
								<ul>
									<li>{{msg:rules.play.list.5.list.1}}</li>
									<li>{{msg:rules.play.list.5.list.2}}</li>
								</ul>
							</li>
							<li>{{msg:rules.play.list.6}}</li>
							<li>{{msg:rules.play.list.7}}</li>
							<li>{{msg:rules.play.list.8}}</li>
							<li>{{msg:rules.play.list.9}}</li>
						</ol>
					</section>
				</section>
				<footer class="page__footer">
					<p>{{msg:rules.footer}}</p>
				</footer>
			</page>
		</book>
	</body>
</html>
