<html>
	<body>
		<book class="book">
			<page class="page page--sheet page--sheet-questboard">
				<header class="sheet__header">
					<section class="sheet__logo">
						<span>Quick</span>
						<span>Quest</span>
						<span class="title">{{msg:sheet.questboard.title}}</span>
					</section>
					<section class="questboard__quest">
						<div class="field field--input">
							<label>{{msg:sheet.questboard.name}}</label>
							<input type="text">
						</div>
					</section>
					<section class="questboard__author">
						<div class="field field--input">
							<label>{{msg:sheet.questboard.author}}</label>
							<input type="text">
						</div>
					</section>
					<section class="questboard__summary">
						<div class="field field--input">
							<label>{{msg:sheet.questboard.summary}}</label>
							<input type="text">
						</div>
					</section>
				</header>
				<section class="sheet__body">
					<div class="questboard__goals">
						<div class="fieldset">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.goal}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
						<div class="fieldset">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.prize}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
					</div>
					<div class="questboard__locations">
						<label>{{msg:sheet.questboard.locations}}</label>
						<div class="fieldset fieldset--corner-label">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.locations.1}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
						<div class="fieldset fieldset--corner-label">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.locations.2}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
					</div>
					<div class="questboard__villains">
						<label>{{msg:sheet.questboard.threats}}</label>
						<div class="fieldset fieldset--corner-label">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.threats.a}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
						<div class="fieldset fieldset--corner-label">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.threats.b}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
					</div>
					<section class="questboard__ancestries">
						<div class="fieldset">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.ancestries}}</span></label>
							</header>
							<section class="fieldset__body">
								<div class="field field--input">
									<label>1</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>2</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>3</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>4</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>5</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>6</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>7</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>8</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>9</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>10</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>11</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>12</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>13</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>14</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>15</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>16</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>17</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>18</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>19</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>20</label>
									<input type="text">
								</div>
							</section>
						</div>
					</section>
					<div class="questboard__outline">
						<label>{{msg:sheet.questboard.outline}}</label>
						<div class="fieldset fieldset--corner-label outline__beginning">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.outline.beginning}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
						<div class="fieldset fieldset--corner-label outline__middle">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.outline.middle}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
						<div class="fieldset fieldset--corner-label outline__end">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.outline.end}}</span></label>
							</header>
							<section class="fieldset__body">
								<textarea class="field field--textarea"></textarea>
							</section>
						</div>
					</div>
					<section class="questboard__callings">
						<div class="fieldset">
							<header class="fieldset__header">
								<label><span>{{msg:sheet.questboard.callings}}</span></label>
							</header>
							<section class="fieldset__body">
								<div class="field field--input">
									<label>1</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>2</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>3</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>4</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>5</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>6</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>7</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>8</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>9</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>10</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>11</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>12</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>13</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>14</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>15</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>16</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>17</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>18</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>19</label>
									<input type="text">
								</div>
								<div class="field field--input">
									<label>20</label>
									<input type="text">
								</div>
							</section>
						</div>
					</section>
				</section>
				<footer class="sheet__footer">
					<p>{{msg:sheet.questboard.footer}}</p>
				</footer>
			</page>
		</book>
	</body>
</html>
